 <c-carousel>
    <c-carousel-indicators></c-carousel-indicators>
    <c-carousel-inner>
      <c-carousel-item *ngFor="let slide of slides">
        <img style="height: 500px;"
          alt="{{slide.title}}"
          class="d-block w-100"
          loading="lazy"
          src="{{slide.src}} "
        />
        <c-carousel-caption class="d-none d-md-block">
          <h3>{{slide.title}}</h3>
          <p>{{slide.subtitle}}</p>
        </c-carousel-caption>
      </c-carousel-item>
    </c-carousel-inner>
    <c-carousel-control [routerLink] caption="Previous" direction="prev"></c-carousel-control>
    <c-carousel-control [routerLink] caption="Next" direction="next"></c-carousel-control>
  </c-carousel>
  <br><br><br>













   <div  fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-around center" fxLayoutGap="25px">
    <mat-card *ngFor="let member of members" fxFlex="calc(33%-25px)" fxFlex.sm="calc(50%-25px)" >
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{member.title}}</mat-card-title>
        <mat-card-subtitle>{{member.subtitle}}</mat-card-subtitle>
      </mat-card-header>
      <img width="250px"  height="250px"  mat-card-image [src]="member.url" alt="Photo of {{member.title}}">
    </mat-card>
  </div>
  