<c-container class="h-100">
  <select aria-label="Large select example" cSelect class="mb-3" sizing="lg">

    <option selected value="1">Hokim yordamchisi</option>
    <option value="2">Mahalla noziri</option>
    <option value="3">Yoshlar yetakchisi</option>
  </select>

  <c-card class="chat-body d-flex overflow-auto align-items-end">
    <ng-container *ngFor="let msg of messages">
      <c-card
        class="d-inline-block w-50 p-1 mt-5 mx-2 bg-light"
        [class.bg-info]="msg.input"
        [class.align-self-start]="msg.input"
      >
        {{ msg.text }}
        <div class="hr"></div>
        <div class="text-right">
          {{ msg.time | date: "short" }}
        </div>
      </c-card>
    </ng-container>
  </c-card>
  <c-card class="chat-input">
    <div class="m-3">
      <label cLabel for="exampleFormControlInput1">Xabar</label>
      <div class="send">
        <input
          #inp
          cFormControl
          id="exampleFormControlInput1"
          placeholder="Xabaringiz matni"
          type="text"
        />
        <button cButton (click)="send(inp)">
          <svg
            cIcon
            name="cilPaperPlane"
            size="md"
            title="Numbered List Icon"
          ></svg>
        </button>
      </div>
    </div>
  </c-card>
</c-container>
