









<app-widgets-dropdown></app-widgets-dropdown>




<div style="position:relative;overflow:hidden; "><a href="https://yandex.uz/maps/10331/karshi/?utm_medium=mapframe&utm_source=maps" 
    style="color:#eee;font-size:12px;position:absolute;top:0px;">Qarshi</a><a href="https://yandex.uz/maps/10331/karshi/?feedback=map%2Fedit&feedback-context=map.context&ll=65.795790%2C38.851746&utm_medium=mapframe&utm_source=maps&z=13" 
    style="color:#eee;font-size:12px;position:absolute;top:14px;">Яндекс Карты</a><iframe src="https://yandex.uz/map-widget/v1/-/CCUFQNryOD" width="100%" height="400" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div>


  <app-widgets-e></app-widgets-e>
<!-- <c-card>
 
    <table cTable>
       
        <thead>
        <tr>
        
        <th scope="col">Tadbirkorlik subyekti</th>
        <th scope="col">Ta'minotchi</th>
        
        </tr>


        </thead>


        <tbody>
        <tr>
        <th></th>
        <td>hokim</td>
        </tr>
        
     
        </tbody>
        <tbody>
            <tr>
            <th></th>
            <td>hokim</td>
            </tr>
            
         
            </tbody>
            <tbody>
                <tr>
                <th></th>
                <td>hokim</td>
                </tr>
                
             
                </tbody>

                <tbody>
                    <tr>
                    <th></th>
                    <td>hokim</td>
                    </tr>
                    
                 
                    </tbody>
                    <tbody>
                        <tr>
                        <th></th>
                        <td>hokim</td>
                        </tr>
                        
                     
                        </tbody>

                        <tbody>
                            <tr>
                            <th></th>
                            <td>hokim</td>
                            </tr>
                            
                         
                            </tbody>
                            <tbody>
                                <tr>
                                <th></th>
                                <td>hokim</td>
                                </tr>
                                
                             
                                </tbody>
                                
        </table>


  </c-card> -->

