<mat-card>
    <h1>
     Tulovlar
    </h1>
  </mat-card>
  <mat-card>
  
    <mat-accordion>
      <mat-expansion-panel [expanded]='panelOpenState' (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Tulov qo'shish
          </mat-panel-title>
        </mat-expansion-panel-header>
  
        <form [formGroup]='createForm' (ngSubmit)="save()">
  
          <mat-form-field *ngIf='tahrirRejim' appearance="fill">
            <mat-label>ID</mat-label>
            <input name="id" formControlName='id' matInput>
          </mat-form-field>
          <br>
      
          <mat-form-field appearance = "fill">
           <mat-label>Buyurtma</mat-label>
           <mat-select formControlName="buyurtma">
               <mat-option [value]='buyurtma' *ngFor='let buyurtma of buyurtmalar'>
                   {{buyurtma.id}}
               </mat-option>
           </mat-select>
         </mat-form-field>
         <br>
          <mat-form-field appearance="fill">
            <mat-label>PlastikTulov</mat-label>
            <input name="plastikTulov" formControlName='plastikTulov' matInput>
          </mat-form-field>
          <br>
 
          <br>
          <mat-form-field appearance="fill">
            <mat-label>NaqdTulov</mat-label>
            <input name="naqdTulov" formControlName='naqdTulov' matInput>
          </mat-form-field>
          <br>
          <br>
          <mat-form-field appearance="fill">
            <mat-label>Tulov Vaqt</mat-label>
            <input matInput [matDatepicker]="picker1" formControlName='tulovVaqt' name="tulovVaqt">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
          <br> 
         
  
  
  
          
          <button type="submit" mat-raised-button color="primary">
            <mat-icon>add</mat-icon>
            Saqlash
          </button>
  
          <button type="button" mat-raised-button color="warn" (click)='tozalash()'>
            <mat-icon>clear</mat-icon>
            Bekor qilish
          </button>
        </form>
  
      </mat-expansion-panel>
    </mat-accordion>
  
  
  </mat-card>
  
  <div class="example-container mat-elevation-z8">
    <div class="example-loading-shade" *ngIf="isLoadingResults isRateLimitReached">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
      <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
        Ma'lumotlarni olib kelishning imkon bo'lmadi
      </div>
    </div>
  
    <div class="example-table-container">
  
      <table mat-table [dataSource]="tulovlar" class="example-table" matSort matSortActive='id' matSortDisableClear
        matSortDirection='asc'>
        <!-- Number Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>ID</th>
          <td mat-cell *matCellDef="let row">{{row.id}}</td>
        </ng-container>
  
        <!-- Title Column -->
        <ng-container matColumnDef="plastikTulov">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>Plastik Tulov</th>
          <td class="plastikTulov" mat-cell *matCellDef="let row">
            <span> {{row.plastikTulov}}</span>
          </td>
        </ng-container>
  
        <ng-container matColumnDef="naqdTulov">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>Naqd Tulov</th>
          <td class="naqdTulov" mat-cell *matCellDef="let row">
            <span> {{row.naqdTulov}}</span>
          </td>
        </ng-container>
  
        <ng-container matColumnDef="buyurtma">
          <th mat-header-cell *matHeaderCellDef>Buyurtma</th>
          <td class="buyurtma" mat-cell *matCellDef="let row">
            <span> {{row.buyurtma? row.buyurtma.id: "-"}}</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="tulovVaqt">
            <th mat-header-cell *matHeaderCellDef>Tulov Vaqt</th>
            <td mat-cell *matCellDef="let row">{{row.tulovVaqt? row.tulovVaqt: "-"}}</td>
        </ng-container>
  
        
  
  
  
  
        <!-- Star Column -->
        <ng-container matColumnDef="amal">
          <th mat-header-cell *matHeaderCellDef>Amal</th>
          <td mat-cell *matCellDef="let row">
            <button mat-button color="primary" (click)='edit(row)'>
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-button color="accent" (click)='ochirish(row?.id)'>
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

       
  
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [length]='resultsLength' [pageSize]='10' [pageSizeOptions]='[5,10,25,100]'></mat-paginator>
    </div>
  
  
  </div>