<mat-card>
    <h1>
      Buyurtmalar
    </h1>
  </mat-card>
  <mat-card>
  
    <mat-accordion>
      <mat-expansion-panel [expanded]='panelOpenState' (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Buyurtma qo'shish
          </mat-panel-title>
        </mat-expansion-panel-header>
  
        <form [formGroup]='createForm' (ngSubmit)="save()">
  
          <mat-form-field *ngIf='tahrirRejim' appearance="fill">
            <mat-label>ID</mat-label>
            <input name="id" formControlName='id' matInput>
          </mat-form-field>
          <br>
  
          <br>
          <mat-form-field appearance = "fill">
           <mat-label>Xona</mat-label>
           <mat-select formControlName="xona">
               <mat-option [value]='xona' *ngFor='let xona of xonalar'>
                   {{xona.sigim}}
               </mat-option>
           </mat-select>
         </mat-form-field>
         <br>
  
         <br>
          <mat-form-field appearance = "fill">
           <mat-label>Xodim</mat-label>
           <mat-select formControlName="xodim">
               <mat-option [value]='xodim' *ngFor='let xodim of xodimlar'>
                   {{xodim.ism}}
               </mat-option>
           </mat-select>
         </mat-form-field>
         <br>

         <br>
          <mat-form-field appearance = "fill">
           <mat-label>Mijoz</mat-label>
           <mat-select formControlName="mijoz">
               <mat-option [value]='mijoz' *ngFor='let mijoz of mijozlar'>
                   {{mijoz.ism}}
               </mat-option>
           </mat-select>
         </mat-form-field>
         <br>

         <br>
          <mat-form-field appearance="fill">
            <mat-label>Buyurtma Olgan Vaqt</mat-label>
            <input matInput [matDatepicker]="picker1" formControlName='buyurtmaYaratilganVaqt' name="buyurtmaYaratilganVaqt">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
          <br>

          <br>
          <mat-form-field appearance="fill">
            <mat-label>Buyurtma Yopilgan Vaqt</mat-label>
            <input matInput [matDatepicker]="picker2" formControlName='buyurtmaYopilganVaqt' name="buyurtmaYopilganVaqt">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
          <br>     
         <br>
         
  
  
  
  
  
  
  
  
          <!-- [disabled]='createForm.invalid  sorovBajarilmoqda' -->
          <button type="submit" mat-raised-button color="primary">
            <mat-icon>add</mat-icon>
            Saqlash
          </button>
  
          <button type="button" mat-raised-button color="warn" (click)='tozalash()'>
            <mat-icon>clear</mat-icon>
            Bekor qilish
          </button>
  
  
  
  
        </form>
  
      </mat-expansion-panel>
    </mat-accordion>
  
  
  </mat-card>
  
  <div class="example-container mat-elevation-z8">
    <div class="example-loading-shade" *ngIf="isLoadingResults isRateLimitReached">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
      <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
        Ma'lumotlarni olib kelishning imkon bo'lmadi
      </div>
    </div>
  
    <div class="example-table-container">
  
      <table mat-table [dataSource]="buyurtmalar" class="example-table" matSort matSortActive='id' matSortDisableClear
        matSortDirection='asc'>
        <!-- Number Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>ID</th>
          <td mat-cell *matCellDef="let row">{{row.id}}</td>
        </ng-container>
  
        
  
        <ng-container matColumnDef="xona">
          <th mat-header-cell *matHeaderCellDef>Xona</th>
          <td class="xona" mat-cell *matCellDef="let row">
            <span> {{row.xona? row.xona.sigim: "-"}}</span>
          </td>
        </ng-container>
        
        <ng-container matColumnDef="xodim">
            <th mat-header-cell *matHeaderCellDef>Xodim</th>
            <td class="xodim" mat-cell *matCellDef="let row">
              <span> {{row.xodim? row.xodim.ism: "-"}}</span>
            </td>
          </ng-container>

          
        <ng-container matColumnDef="mijoz">
            <th mat-header-cell *matHeaderCellDef>Mijoz</th>
            <td class="mijoz" mat-cell *matCellDef="let row">
              <span> {{row.mijoz? row.mijoz.ism: "-"}}</span>
            </td>
          </ng-container>
  
          <ng-container matColumnDef="buyurtmaYaratilganVaqt">
            <th mat-header-cell *matHeaderCellDef>Buyurtma YaratilganVaqt</th>
            <td  mat-cell *matCellDef="let row">{{row.buyurtmaYaratilganVaqt? row.buyurtmaYaratilganVaqt: "-"}}</td>
          </ng-container>

          <ng-container matColumnDef="buyurtmaYopilganVaqt">
            <th mat-header-cell *matHeaderCellDef>Buyurtma Yopilgan Vaqt</th>
            <td mat-cell *matCellDef="let row">{{row.buyurtmaYopilganVaqt? row.buyurtmaYopilganVaqt: "-"}}</td>
          </ng-container>
  
  
  
        <!-- Star Column -->
        <ng-container matColumnDef="amal">
          <th mat-header-cell *matHeaderCellDef>Amal</th>
          <td mat-cell *matCellDef="let row">
            <button mat-button color="primary" (click)='edit(row)'>
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-button color="accent" (click)='ochirish(row?.id)'>
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>
  
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [length]='resultsLength' [pageSize]='10' [pageSizeOptions]='[5,10,25,100]'></mat-paginator>
    </div>
  
  
  </div>