<h2>Arizaning mazmuni</h2>

<div class="card">

    {{mazmun}}

</div><h1 mat-dialog-title>Fayl</h1>
<a [href]="url" type="_blank">{{name}}_ko'rish</a>



<!-- 
<div mat-dialog-content>
    <video width="100%" controls>
        <source [src]="url">
            
      </video>
    </div>
    <img [src]="url" alt="">
<div mat-dialog-actions>
    <button mat-button mat-dialog-close>Yopish</button>
    <a mat-button mat-dialog-close [href]="url" target="_blank">Yuklash</a>
</div> -->
<!-- <iframe [src]="url" frameborder=""></iframe> -->






